@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


.contact_form{
    width: 60%;
    margin: 50px auto;
    padding: 20px 40px 60px;
    display: flex;
    flex-direction: column;
    border: 2px solid #11698e;
    border-radius: 15px;
    box-shadow: 10px 10px 14px -10px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 14px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 14px -10px rgba(0,0,0,0.75);
    background-color: #8BC6EC;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
}   

.contact_form h1{
    text-align: center;
    margin-bottom: 30px;
    color: #252525;
    letter-spacing: 3px;
}

.contact_form input{
    margin-bottom: 30px;
    border-radius: 15px;
    height: 45px;
    border: 2px solid #11698e;
    padding: 15px;
    font-size: 16px;
    letter-spacing: 3px;
}

.contact_form button{
    width: 120px;
    height: 45px;
    /* background-color: #16c79a; */
    border: 2px solid #11698e;
    color: #252525;
    font-weight: 700;
    letter-spacing: 2px;
    cursor: pointer;
    border-radius: 15px;
    align-self: flex-end;
    font-size: 14px;
    transition: 0.5s;
    background-size: 200% auto;
    background-image: linear-gradient(to right, #4CB8C4 0%, #3CD3AD  51%, #4CB8C4  100%)
}

.contact_form button:hover{
    border: 2px solid #f9813a;
}


.contact_form button:focus{
    outline: none;
}


.contact_form input:focus{
    outline: none;
}

#contactsList{
    margin: 50px auto;
    width: 60%;
    padding: 15px;
    border-radius: 15px;
    height: auto;
    box-shadow: 10px 10px 14px -10px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 14px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 14px -10px rgba(0,0,0,0.75);
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(255,229,168,1) 0%, rgba(251,174,222,1) 100.7% );
}

.contact{
    border: 2px solid #834c69;
    padding: 15px;
    border-radius: 10px;
    position: relative;
    margin-bottom: 20px;
}
.contact h2{
    font-size: 18px;
}

.contact p{
    font-size: 14px;
    margin-top: 5px;
}

#delete_contact{
    width: 30px;
    height: 30px;
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}

#delete_contact:hover{
    opacity: 0.8;
}